<!-- 
<div class="container">
    <form>
        <div class="form-group form-inline">
            <button type="button" class="btn btn-success" routerLink="/home/manageproduct/add">Add Product</button>
            <div style="text-align: right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search
                <input class="form-control" type="text" placeholder="">
            </div>
        </div>
        
        <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col" sortable="name">Image</th>
            <th scope="col" sortable="name">Product Name</th>
            <th scope="col" sortable="area">Price</th>
            <th scope="col" sortable="population" >Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countrie">
            <th scope="row">{{ country.id }}</th>
            </tr>
            </tbody>
        </table>
    </form>
</div>
     -->