<div class="container">
    <div class="row">
        <div class="col-4 m-auto">
            <form>
                <div class="form-group">
                    <label for="exampleInputUserName">UserName</label>
                    <input type="text" class="form-control" id="exampleInputUserName">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect">Role select</label>
                    <select class="form-control" id="exampleFormControlSelect">
                        <option value="">please Select</option>
                        <option value="buyer">Buyer</option>
                        <option value="seller">Seller</option>
                        <option value="admin">Admin</option> 
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/signup">SignUp</button> 
            </form>
        </div>
    </div>
</div>